@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2 fw-semibold text-start">Organize Seu Dia, Aumente Sua Produtividade!</h1>
    <h6 class="display-6">Bem-vindo ao To-Do List – a ferramenta ideal para você planejar, organizar e concluir suas tarefas de forma simples e eficiente.</h6>
    <p class="lead">Comece agora e transforme sua rotina! 🚀</p>
</div>