@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <h6 class="display-5">Esta aplicação serve para você gerenciar suas tarefas diárias.</h6>
    <p class="lead">Para começar, faça o login ou cadastre-se.</p>
    <img src="~/img/tarefas/jazminantionette-mental-health.gif" class="img-fluid rounded-circle" alt="Ilustração de uma lista de tarefas" width="240" height="240">
</div>